<h2 mat-dialog-title>View Job</h2>

 <div mat-dialog-title >
   <mat-grid-list cols="4" rowHeight="50px">
     <mat-grid-tile  [colspan]="1" [rowspan]="3 "><img  src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="> </mat-grid-tile>
     <mat-grid-tile [colspan]="3" [rowspan]="1"> <p>{{job.companyName}}</p></mat-grid-tile>
     <mat-grid-tile [colspan]="3" [rowspan]="1" ><h4>{{job.title}}</h4> </mat-grid-tile>
     <mat-grid-tile [colspan]="3" [rowspan]="1"> <p> <b>Start Date :</b>{{job.beginning | date: 'MMMM dd, yyyy'}}  <b>  Location :</b>{{job.location}} </p></mat-grid-tile>
   </mat-grid-list>
 </div>

  <div mat-dialog-content>
    <h2>Job Details </h2>
    <div *ngIf="job.content">
      <p>{{job.content}}</p>
    </div>
    <div *ngIf="job.tasks">
      <h3>Your Task</h3>
      <p>{{job.tasks}}</p>
    </div>
    <div *ngIf="job.profile">
      <h3>Your profile</h3>
      <p>{{job.profile}}</p>
    </div>
    <div *ngIf="job.offer">
      <h3>We offer</h3>
      <p>{{job.offer}}</p>
    </div>
  </div>
  <div mat-dialog-actions align="end">
      <button mat-button (click)="dialogRef.close();" >Apply</button>
      <button mat-button (click)="dialogRef.close();">Cancel</button>
  </div>

